<a href="https://colab.research.google.com/github/nevatka/bank-clients-churn-predicition/blob/main/bank_clients_churn_predicition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

## Data preprocessing

Importing the dataset

In [2]:
dataset = pd.read_csv('Churn_Modelling.csv')

Checking for any missing values in a dataset. <br>
Luckily, the dataset is already cleaned so I can proceed with splitting variables and data encoding.

In [11]:
dataset.isnull().values.any()

False

In [5]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [81]:
X = dataset.iloc[:, 3:-1].values # take attributes beggining from 3rd column
y = dataset.iloc[:, -1].values # binary column 'Exited' - 1 means client left the bank, 0 means he stayed

Label Encoder used for binary Gender column

In [82]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [83]:
X[:, 2]

array([0, 0, 0, ..., 0, 1, 0], dtype=object)

One Hot Encoding the "Geography" column

In [88]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

Splitting the dataset into the Training set and Test set

In [99]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

By scaling the features to have similar ranges, we can ensure that each feature has a similar impact on the gradients <br> and avoid the above problems.

In [100]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)